@import 'vars';

@font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url(/static/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    font-weight: 700;
    src: url(/static/fonts/Raleway-Bold.ttf);
}

:global(*) {
    margin: 0;
    padding: 0;
    color: $text;
    font-family: Raleway;
    transition-duration: 100ms;
}

:global(body) {
    background-color: $bg;
}

:global(a) {
    color: $orange
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    * {
        padding: 0 0 1rem 0;
    }
}


// Scrollbar atyles

:root::-webkit-scrollbar {
    width: 10px;
}

:root::-webkit-scrollbar-track {
    background-color: $bg-secondary;
}

:root::-webkit-scrollbar-thumb {
    background: $black;
    
}

:root::-webkit-scrollbar-thumb:hover {
    background: $bg-tertiary;
}



// Media Query Mixins

//Large Screen - 993 to 1170 screen size
@mixin lg-screen{
    @media only screen and (max-width: 1170px) {
        @content;
    }
}

//Medium Screen - 768 to 992 screen size
@mixin md-screen{
    @media only screen and (max-width: 992px) {
        @content;
    }
}

//Small Screen - 575 to 767 screen size
@mixin sm-screen{
    @media only screen and (max-width: 767px) {
        @content;
    }
}

//Extra Small Screen - below 575 screen size
@mixin xs-screen{
    @media only screen and (max-width: 575px) {
        @content;
    }
}

@mixin descending-width{
    @include lg-screen {
        width: 60vw;
    }
    @include md-screen {
        width: 70vw;
    }
    @include sm-screen {
        width: 80vw;
    }
    @include xs-screen {
        width: 85vw;
    }
}